
:root{
    --vermelho:#E50914;
    --preto:#000000;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* search-bar*/
input[type=search] {
    outline: none;
    color: #4a83c0;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
  }
  
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none;
  }
  
  input[type=search] {
    background: url(https://i.imgur.com/2KT7WHj.png) no-repeat 9px center;
    border: none;
    padding: 9px 10px 9px 32px;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
  }
  
  input[type=search]:focus {
    width: 130px;
    background-color: #000000;
    border-color: #ffffff;
    border-width: 2px;
    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  }
  
  input:-moz-placeholder {
    color: #4a83c0;
  }
  
  input::-webkit-input-placeholder {
    color: #4a83c0;
  }
  
  #search {
    display: inline-block;
  }
  
  .right {
    position: relative;
  }
  
  .right img {
    position: absolute;
    top: 5px;
    z-index: -1;
  }
  
  .right img:nth-of-type(1) {
    right: 40px;
  }
  
  .right img:nth-of-type(2) {
    right: 60px;
  }
  
  #search input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
    z-index: 5;
  }
  

  
  #search input[type=search]:focus {
    width: 100px;
    padding-left: 32px;
    color: #4a83c0;
    background-color:none;
    cursor: auto;
    border: solid #fff ;
    border-width: 2px;
  }
  
  #search input:-moz-placeholder {
    color: transparent;
  }
  
  #search input::-webkit-input-placeholder {
    color: transparent;
  }


/*base*/
body{
background: var(--preto);
font-family: 'Arial', Times, serif;
color: #ffffff;
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
}
header nav a{
    text-decoration: none;
    color: #ffffff;
    margin-right: 10px;
}

header nav a:hover{
    color: #ffffff;
}
/* filme principal */
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.58), rgba(0,0,0,.50) 100%), url('../img/capa-house.jpg');
    height: 400px;
    background-size: cover;

display: flex;
flex-direction: column;
justify-content: center;
align-content: flex-start;
}
    
.filme-principal .descricao{ 
    margin-top: 10px;
    margin-bottom: 40px;

}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: seashell;

    padding:15px 30px;
    margin-right:  15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3 ease all;
}
.botao:hover{
    background-color: white;
    color: var(--preto);

}
.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;

}
.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display:block;


}

.carrosel-filmes{
    margin-top: 5px;
    

}